body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-color: #4ABDAC;
	font-family: 'Lato', sans-serif;
}

.tabs {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	order:1;
	width: 60%;
	background: blue;
}

main {
	display: flex;
	order: 2;
	flex-direction: column;
	width: 60%;
	background-color: white;
}

img {
	height: 15%;
	width: 15%;
	border-radius: 8px 8px 8px 8px;
}

.user{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 2%;
	margin-bottom: 2%;
}

.user header{
	font-size: 3em;
}

.info{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

button {
	font-size: 3em;
	width: 25%;
	border-radius: 8px 8px 8px 8px;
}

.fa-bed{
	color: black;
}